:root {
  --primary-color: #fff;
  --secondary-color: #5a9;
  --background-color: url(../../assets/images/background.jpg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  cursor: pointer;
}
.logoImg{
  width: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li .active-link {
  color: #fff;
}

.nav-links li a:hover {
  color: gray;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 865px) {
  .navbar {
    align-items: flex-start;
    padding: 10px;
    margin: auto;
    color: white;
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle i {
    font-size: 24px;
  }
}
